.login { 
  display: none !important; 
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 2em;
  border-bottom: solid 1px #C0C0C0;
  box-sizing: border-box;
}

.page:first-child {
  top: 0;
  padding: 1em;
}

DIV.unknown {
  position: static !important;
  font-size: initial !important;
  color: #808080;
  padding: 0 !important;
  margin: 0 !important;
  margin-bottom: 0.5em !important;
  text-align: left;
  font-style: italic;
}

