/*@font-face {
  font-family: 'default-font';
  src: url('/Roboto-Light.ttf');
}*/

HTML {
  margin: 0;
  padding: 0;
  --background: white;
  --foreground: #404040;
  --light: rgba(0,0,0,0.1);
  --dark: rgba(0,0,0,0.5);
  --title: rgba(0,0,0,0.7);
  --blue: #3398C3;
  --orange: #E67E22;
  background-color: var(--background);
  color: var(--foreground);
}

BODY {
  padding: 1em;
  margin: 0 auto;
  font-family: sans-serif;
  /*font-size: 10pt;
  font-family: default-font;*/
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
  line-height: 1.5em;
  background-color: var(--background);
  color: var(--foreground);
}

INPUT[type=text] {
  border: solid var(--dark) 1px;
  background: var(--background);
  color: var(--foreground);
  font-size: 1em;
  height: 1.8em;
}

INPUT[type=password] {
  border: solid var(--dark) 1px;
  background: var(--background);
  color: var(--foreground);
  font-size: 1em;
  height: 1.8em;
}

INPUT[type=text]:focus,INPUT[type=text]:focus-visible {
  border: solid 1px var(--blue);
  outline: none;
}

TEXTAREA:focus,TEXTAREA:focus-visible {
  border: solid 1px var(--blue);
  outline: none;
}

/*INPUT {
  border: solid gray 1px;
  background: white;
  color: black;
}*/

/*INPUT[type=submit] {
  border: solid black 1px;
  cursor: pointer;
  box-shadow: 0 0 4px gray;
}*/

/*INPUT[type=submit]:hover {
  background: #E8E8E8;
}*/

#login {
  width: 10em;
  margin-bottom: 8px;
}

#password {
  width: 10em;
  margin-bottom: 8px;
}

A {
  text-decoration: none;
}

A:link {
  color: #4765BF;
}

A:visited {
  color: #6547BF;
}

A[id] {
  position: relative;
  display: block;
  top: -1em;
  height: 1em;
  margin-bottom: -1em;
  pointer-events: none;
}

P {
  margin-bottom: 0;
  margin-top: 0.5em;
}

H1,H2,H3,H4,H5,H6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: initial;
  color: var(--title);
  letter-spacing: 1px;
}

H1 {
  letter-spacing: 2px;
  color: var(--foreground);
}

H2 {
  letter-spacing: 2px;
  border-bottom: solid 1px var(--dark);
  color: var(--foreground);
  font-weight: normal;
}

H3 {
  letter-spacing: 2px;
  font-weight: normal;
  color: var(--foreground);
}

H1:first-child,H2:first-child,H3:first-child,H4:first-child,H5:first-child,H6:first-child {
  margin-top: 0;
}

CODE {
  display: inline-block;
  line-height: initial;
  text-shadow: 0 0 1px var(--foreground);
  outline: solid 1px var(--light);
  /*background-color: rgba(0,0,0,0.05);*/
  padding: 0 0.25em;
}

PRE {
  display: inline-block;
  margin: 0;
  white-space: pre-wrap;
}

PRE > CODE {
  background-color: var(--light);
  padding: 0.25em 0.5em;
  text-shadow: none;
}

HR {
  margin-top: 0.75em;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding: 0px;
  height: 1px;
  border: none;
  border-top: solid var(--dark) 1px;
}

PRE HR {
  margin-bottom: -0.75em;
}

TABLE.table, TABLE.error {
  border-bottom: solid var(--dark) 1px;
  border-right: solid var(--dark) 1px;
  padding: 0;
  margin-top: 0.5em;
  border-spacing: 0;
  empty-cells: show;
  line-height: 1.5em;
}

TABLE.table > TBODY > TR > TD, TABLE.error > TBODY > TR > TD {
  border-top: solid var(--dark) 1px;
  border-left:  solid var(--dark) 1px;
  padding: 0.25em 0.5em;
  vertical-align: top;
}

TABLE.table > TBODY > TR > TH, TABLE.error > TBODY > TR > TH {
  border-top: solid var(--dark) 1px;
  border-left:  solid var(--dark) 1px;
  padding: 0.25em 0.5em;
  text-align: left;
}

DIV.desc {
  border: solid var(--dark) 1px;
  padding: 0.5em;
  margin-top: 0.75em;
}

TABLE.desc {
  border: solid var(--dark) 1px;
  border-collapse: collapse;
  padding: 0px;
  margin-top: 0.75em;
  border-spacing: 0;
  empty-cells: show;
}

TABLE.desc > TBODY > TR > TD {
  border: none;
  padding: 0.25em 0.5em;
}

TABLE.desc > TBODY > TR > TH {
  text-align: left;
  border: none;
  padding: 0.25em 0.5em;
}

.view-frame {
  position: absolute;
  left: 0.25rem;
  right: 0.25rem;
  top: 0.25rem;
  bottom: 0.25rem;
  margin: auto;
  display: flex;
}

.view-frame > * {
  height: 100%;
}

.index-frame {
  display: flex;
  flex-direction: column;
  color: var(--blue);
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
}

.header {
  line-height: initial;
  flex-shrink: 0;
  box-sizing: border-box;
  background-color: var(--blue);
  border-radius: 2em;
  padding: 0 0.25rem;
  z-index: 2;
}

.header-small {
  position: absolute;
  right: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  z-index: 10;
}

.header-inside {
  padding: 0;
  /*background: #E8E8E8;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  box-shadow: 0 0 8px gray;*/
}

.header-inside-v {
  /*max-width: 80em;*/
  margin: 0 auto;
  background: #E8E8E8;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  padding: 2px 16px 4px;
  box-shadow: 0 0 8px gray;
}

.header-bar {
  position: relative;
  height: 2em;
  display: flex;
  align-items: center;
  padding: 0 0.25em;
}

.command {
  display: flex;
}

.command > * {
  margin-right: 0.5em;
}

.header-button {
  background-color: var(--orange);
  color: white;
  font-size: 80%;
  height: 1.8em;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
  border-radius: 2em;
  padding: 0 1em;
  border: solid 2px var(--light);
}

.header-button:hover {
  border: solid 2px var(--dark);
}

.header-bar INPUT[type=text] {
  font-size: 80%;
  height: 1.6em;
  border: solid 1px var(--dark);
  box-sizing: border-box;
}

.header-bar INPUT[disabled] {
  color: var(--dark);
  cursor: default;
}

.header-bar INPUT[disabled]:hover {
  border: solid 2px transparent !important;
}

DIV.search {
  position: relative;
}

#search {
  border-radius: 2em;
  padding: 0 1em;
  width: 100%;
  box-sizing: border-box;
}

.header SELECT {
  background-color: #404040;
  color: white;
  font-size: smaller;
  height: 1.6em;
  border: none;
  cursor: pointer;
  border-radius: 2em;
  padding: 0 1em;
}

.title {
  color: gray;
  font-size: smaller;
}

.root-title {
  background-image: url('<%/%>/gambas.png');
  background-size: 4rem;
  background-repeat: no-repeat;
  background-position: 0.25rem 0.25rem;
  font-size: 120%;
  line-height: 2.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: 5rem;
  padding-right: 1rem;
  color: var(--blue);
  width: 28rem;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  flex-shrink: 0;
}

.last-modified {
  font-size: smaller;
  margin-right: 1em;
  color: #E0E0E0;
  white-space: nowrap;
}

.header-expand {
  flex-grow: 1;
}

.header-right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.title A:link {
  color: gray;
}

.title A:visited {
  color: gray;
}

.title-v {
  font-size: 75%;
  color: gray;
}

.page-frame {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page-index {
  overflow-x: hidden;
  overflow-y: auto;
  font-size: smaller;
  padding: 0.5em;
  flex-grow: 1;
  line-height: initial;
  box-sizing: border-box;
  scrollbar-color: var(--blue) var(--background);
  border: solid 0.25rem var(--blue);
  border-radius: 0.5em;
}

/*.page-index:-webkit-scrollbar-track {
  background-color: var(--blue);
}

.page-index:-webkit-scrollbar-thumb {
  background-color: white;
}*/

.page-index .entry {
  padding: 0.25em 1em;
  border-radius: 3em;
  /*text-shadow: 0 0 0 white;*/
}

.page-index .entry:first-child {
  font-size: large;
  font-weight: bold;
  white-space: nowrap;
}

.page-index .entry > A {
  position: relative;
  color: var(--blue);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-index .entry > A:visited {
  color: var(--blue);
}

.page-index .current {
  background-color: var(--orange);
}

.page-index .current > A {
  color: white;
  text-decoration-color: white;
}

.page-index .current > A:visited {
  color: white;
  text-decoration-color: white;
}

.page-index .selected > A {
  text-decoration: underline;
}

.page-index .deleted {
  text-decoration: line-through;
}

.page-index .children > A:before {
  content: '•';
  position: absolute;
  left: -1em;
}

.page {
  position: relative;
  overflow: auto;
  padding: 0.5em;
  box-sizing: border-box;
  flex-grow: 1;
  scrollbar-color: var(--blue) var(--background);
}

.page:focus {
  outline: none;
  border: none;
}

.page-link {
  display: flex;
}

/*.page > DIV:last-child {
  height: 1em;
}

.page-edit {
  position: absolute;
  top: 2em;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 1em;
  background-color: white;
  box-sizing: border-box;
}*/

DIV.error {
  color: red;
  /*text-shadow: red 0 0 1px;*/
  padding: 2px 6px;
  background: url('<%/%>/error-bg.png');
}

DIV.message {
  margin-bottom: 0.5em;
}

DIV.message > DIV {
  padding: 0.25em 1em;
  border-radius: 2em;
  background-color: #FF5F61;
  color: black;
  font-weight: bold;
  margin-bottom: 0.5em;
}

DIV.unknown {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1em;
  margin: auto;
  color: var(--background);
  text-shadow: 0 0 2px var(--foreground),0 0 2px var(--foreground),0 0 2px var(--foreground);
  font-weight: bold;
  text-align: center;
  font-size: 200%;
}

.up {
  margin-right: 0.25em;
}

.edit-frame {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0.25rem;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.edit {
  border: solid 1px var(--blue);
  background: none;
  flex-grow: 1;
  flex-shrink: 1;
  scrollbar-color: var(--blue) var(--background);
  overflow: auto;
}

DIV.table {
  margin-top: 0.25em;
  }

DIV.box {
  display: inline-block;
  border: solid var(--dark) 1px;
  padding: 0.5em;
}

DIV.image {
  display: inline-block;
  border: solid #606060 1px;
  box-shadow: 0 0 0.25em gray;
}

DIV.info {
  display: inline-block;
  padding: 0.5em;
  padding-left: 3.5em;
  background: url('<%/%>/info.png') 0.5em 0.5em no-repeat;
  background-size: 2em;
  min-height: 2em;
  background-color: #BFDFFF;
  border: solid 1px var(--light);
  border-left-width: 0.5em;
}

DIV.warning {
  display: inline-block;
  padding: 0.5em;
  padding-left: 3.5em;
  background: url('<%/%>/warning.png') 0.5em 0.5em no-repeat;
  background-size: 2em;
  min-height: 2em;
  background-color: #FFDFBF;
  border: solid 1px var(--light);
  border-left-width: 0.5em;
}

DIV.tip {
  display: inline-block;
  padding: 0.5em;
  padding-left: 3.5em;
  background: url('<%/%>/tip.png') 0.5em 0.5em no-repeat;
  background-size: 2em;
  min-height: 2em;
  background-color: #BFFFBF;
  border: solid 1px var(--light);
  border-left-width: 0.5em;
}

DIV.vb {
  display: inline-block;
  padding: 0.5em;
  padding-left: 3.5em;
  background: url('<%/%>/vb.png') 0.5em 0.5em no-repeat;
  background-size: 2em;
  min-height: 2em;
  background-color: #FFF4BF;
  border: solid 1px var(--light);
  border-left-width: 0.5em;
}

DIV.critical {
  display: inline-block;
  padding: 0.5em;
  padding-left: 3.5em;
  background: url('<%/%>/critical.png') 0.5em 0.5em no-repeat;
  background-size: 2em;
  min-height: 2em;
  background-color: #FFBFBF;
  border: solid 1px var(--light);
  border-left-width: 0.5em;
}

DIV.example, DIV.seealso {
  border: none;
  padding: 0;
}

DIV.seealso > UL:first-child {
  margin-top: 0.75em;
}

TEXTAREA {
  font-family: monospace;
  border: solid 1px var(--dark);
  color: var(--foreground);
}

TABLE.index {
  border: none;
  padding: 0;
  margin-top: 0.75em;
}

TABLE.index TD {
  border: none;
  padding: 1px 6px;
  vertical-align: baseline;
}

DIV.index {
  display: inline-block;
  font-size: 85%;
  padding: 1em;
  padding-right: 1.5em;
  margin-top: 1em;
  border: solid 1px var(--dark);
  line-height: 1em;
}

DIV.index > UL {
  margin-bottom: 0;
}

H1 + DIV.index {
  margin-top: 0;
}

/*------------------------------------------------------------------*/

/*DIV.example:before {
  content: 'Example';
  display: block;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 0.75em;
}*/

DIV.syntax {
  display: inline-block;
  border: solid var(--dark) 2px;
  background-color: var(--light);
  color: #404040;
  padding: 0.5em;
  font-family: monospace;
  white-space: pre-wrap;
}

/*DIV.syntax > P:last-child {
  margin-bottom: -0.75em;
}

DIV.syntax > P {
  line-height: 1.1em;
}*/

DIV.since {
  display: inline-block;
  background: #FF8080;
  color: white;
  font-weight: bold;
  padding: 0 0.5rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  font-size: 80%;
  border-radius: 2rem;
}

.letter {
  font-weight: bold;
  vertical-align: baseline;
  color: white;
  background-color: #606060;
  padding: 0 0.25em;
  margin-right: 0.25em;
  text-align: center;
}

TR {
  vertical-align: top;
}

TABLE.no-border {
  margin: 0;
  margin-top: 0.75em;
  border: none;
}

TABLE.no-border > TBODY > TR > TD {
  border: none;
}

TABLE.no-border > TBODY > TR > TH {
  border: none;
}

.symbol {
  color: black;
}

TABLE.inherited {
  display: none;
  font-size: smaller;
  margin-left: 1rem;
}

DIV.inherited-title {
  display: inline-block;
  font-size: smaller;
  cursor: pointer;
  color: #404040;
}

DIV.inherited-title::before {
  content: '';
  margin-right: 0.2rem;
  background-image: url('<%/%>/close.png');
  background-repeat: no-repeat;
  background-size: 80%;
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
}

DIV.inherited-title.open::before {
  background-image: url('<%/%>/open.png');
}

TABLE.symbols {
  width: 100%;
  border: solid var(--dark) 1px;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 0.25em;
  empty-cells: show;
}

TABLE.symbols > TBODY > TR > TD:first-child {
  width: 20rem;
}

TABLE.symbols > TBODY > TR > TD {
  padding: 0.25em 0.5em;
}

TABLE.full {
  width: 100%;
  line-height: 1.5em;
}

UL,OL {
  padding-left: 2em;
  margin: 0.75em 0;
}

UL:first-child,OL:first-child,TABLE:first-child {
  margin-top: 0;
}

H1:first-of-type {
  margin-top: 0;
}

DIV.table:first-child {
  margin-top: 0;
}

/*DIV.syntax > P:first-child {
  margin-top: -0.75em;
}*/

.login {
  position: absolute;
  border: solid 0.75em var(--dark);
  border-radius: 1.25em;
  background-color: var(--background);
  padding: 2em;
  z-index: 10;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.login-glue {
  position: absolute;
  margin: 0 auto;
  width: 24em;
  padding: 1px 22px;
  background: #E8E8E8;
  z-index: 10;
  margin-top: -24px;
  margin-left: -6px;
}

.label-login {
  display: inline-block;
  margin-left: 0.5em;
  width: 8em;
  height: 1.5em;
}

#user {
  width: 12em;
}

#ok,#cancel {
  margin-top: 8px;
  width: 8em;
  }
  
#register {
  width: 8em;
}

.hide-if-compact {
  display: none;
}
.show-if-compact {
  display: inherit;
}

/*@media (min-width: 120em) {
  .login {
    position: fixed;
    top: 32px;
    left: 32px;
    margin: 0px;
  }
  .hide-if-compact {
    display: inherit;
  }
  .show-if-compact {
    display: none;
  }
}*/

.inherit {
  color: var(--dark);
}

.tooltip {
  display: none;
  position: absolute;
  margin-top: 2em;
  margin-left: 0em;
  pointer-events: none;
  width: 20em;
}

.tooltip-activator {
  display: inline-block;
  padding: 0;
}

.tooltip-activator:hover .tooltip {
  display: inline;
}

.tooltip-contents {
  display: inline-block;
  border: solid 1px gray;
  padding: 0.2em 0.5em;
  background: #FFFFDF;
  box-shadow: 0 0 4px gray;
}

.user-name {
  display: inline-block;
  font-size: smaller;
  font-weight: bold;
  color: white;
  margin-right: 0.5em;
  white-space: nowrap;
}

DIV.welcome {
  margin-bottom: 2em;
}

DIV.news {
  margin-bottom: 1em;
  padding-left: 5em;
  padding-right: 2em;
  min-height: 5em;
}

DIV.news > H3 {
  margin-top: 0;
  border-bottom: solid 1px #AFE8FF;
}

DIV.date {
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
  border: solid 2px var(--blue);
  margin-top: 0.25em;
  margin-left: -5em;
  width: 4em;
  height: 5.5em;
  background: white;
  color: var(--blue);
  box-sizing: border-box;
}

DIV.release {
  background: var(--blue);
  color: white;
}

DIV.date > * {
  display: block;
  text-align: center;
}

DIV.date > M {
  flex-grow: 0;
  flex-shrink: 0;
  text-transform: uppercase;
  font-weight: bold;
}

DIV.date > D {
  font-size: 200%;
  line-height: 100%;
}

DIV.date > Y {
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 75%;
  font-weight: bold;
}

DIV.result {
  border: solid 1px var(--dark);
  border-top: none;
  background-color: var(--light);
  margin-top: 0 !important;
}

DIV.result PRE {
  padding: 0.5em;
  margin: 0;
}

DIV.result PRE > CODE {
  border: none;
  outline: none;
  padding: 0;
  background: none;
}

DIV.code {
  border: solid 1px var(--dark);
  margin-top: 0.75em;
  line-height: initial;
}

DIV.code PRE {
  padding: 0.5em;
  margin-top: 0;
  border: none;
}

DIV.code TT {
  display: block;
  padding: 0.5em;
  margin-top: 0;
  border: none;
}

IMG.screenshot {
  border: solid 2px var(--blue);
  padding: 2px;
}

VIDEO.screenshot {
  border: solid 2px var(--blue);
  padding: 2px;
}

#welcome {
  font-size: 200%;
  font-weight: bold;
  text-shadow: 0 0 0.1em gray;
  margin-bottom: 1em;
}

#logo {
  width: 10em;
  margin-bottom: 2em;
}

#login-buttons {
  margin-top: 2em;
}

#login-buttons > INPUT {
  margin: 0 0.5em;
  font-size: inherit;
}

DIV.playground {
  border: solid 1px var(--dark);
  border-top: none;
  background-color: var(--light);
  margin-top: 0 !important;
}

DIV.playground PRE {
  display: none;
  padding: 0.5em 0.5em 0 0.5em;
  margin: 0;
}

DIV.playground BUTTON {
  background-color: var(--light);
  color: white;
  font-size: 80%;
  height: 1.6em;
  border: none;
  cursor: pointer;
  margin: 0.5em 0 0.5em 0.5em;
}

DIV.waiting {
  background: url('<%/%>/waiting.gif');
  width: 16px;
  height: 11px;
}

MARK {
  display: inline;
  background-color: rgba(255,255,0,0.5);
}

.upload-frame {
  margin: 0.25em 0 0.5em 0;
}

.upload-frame > DIV {
  display: inline-block;
  position: relative;
}

.upload-frame > DIV > INPUT[type=file] {
  position: absolute;
  opacity: 0;
  top: -1px;
  width: 1px;
  height: 1px;
}

@media screen and (max-width: 64rem) {
  .index-frame {
    display: none;
  }
  .page-frame {
    position: absolute;
    width: 100% !important;
  }
  .gutter {
    display: none;
  }
}
